<style>
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

abbr[title] {
    border-bottom: none;
    text-decoration: none;
}

.word-break-keep-all {
    word-break: keep-all;
    white-space: nowrap;
}

.word-break-break-all {
    word-break: break-all;
}

.word-break-break-word {
    word-break: break-word;
}

.panel-heading h3 {
    line-height: normal;
    width: 75%;
    padding-top: 8px;
    font-weight: bold;
}

.section {
    position: relative;
    padding-top: 20px;
}

body {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #ffffff;
}

.progress-big {
    height: 40px;
    margin-bottom: 0px;
}

.progress-bar-big {
    font-size: 20px;
    line-height: 38px;
}

.popover-title {
    font-weight: normal;
}

.popover-content {
    font-size: 10px;
}

.c3 svg {
    font: 10px Lato;
}

.c3-title {
    font: 16px Lato;
    font-variant: all-small-caps;
    font-weight: 600;
    fill: #666;
}

.c3-chart-arcs .c3-chart-arcs-background {
    fill: #00ae8d;
}

.c3-chart-lines .c3-chart-line {
    display: none;
}

.gauge-row-2 {
    font-size: 24px;
    font-weight: 400;
    color: #777;
    margin-top: 5px;
}

.gauge-row-3 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 5px;
    position: relative;
    top: 50;
}

.bucket-schema {
    background-color: #fff;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bucket-schema .row {
    margin-left: 0px;
    margin-right: 0px;
}

.bucket-schema .row-search-filter {
    padding-top: 20px;
}

.bucket-schema-button {
    background-color: transparent;
    padding: 0px 5px 1px 0px;
}

@media screen and (min-width: 768px) {
    .modal-custom {
        width: 80%;
        /* either % (e.g. 60%) or px (400px) */
    }
}

.btn:focus {
    outline: none;
}

.text-goe {
    color: #00ae8d;
}

.text-grey {
    color: #777;
}

.modal-body-help {
    padding: 0px;
}

.modal-body-panel-body-help {
    padding: 0px 15px 0px 15px;
}


.margin-top-20 {
    margin-top: 20px;
}

.min-height-300 {
    min-height: 300px;
}

.width-100-pct {
    width: 100%;
}

.background-offload {
    background-color: #00ae8d;
    background-image: none;
}

.background-retain {
    background-color: #f07b4c;
    background-image: none;
}

.background-reclaim {
    background-color: #337ab7;
    background-image: none;
}

.background-default {
    background-color: #777;
    background-image: none;
}

.no-padding>tbody>tr>td {
    padding: 0px;
}

.top-minus-30 {
    top: -30px;
}

.candidate-volume-progress {
    margin: 4px 100px 0px 100px;
    position: relative;
    top: -10px;
}

.schema-name {
    padding: 3px 0px 0px 0px;
}

.schema-name-text {
    font-size: 16px;
    color: #333;
}

.schema-tables-text {
    padding: 1em 0.2em 1em 4em;
    color: #777
}

.schema-tables-badge {
    font-size: 12px;
    position: relative;
    top: 7px;
    background-color: #337ab7;
}

.schema-text {
    padding: 1em .2em;
    color: #777
}

.schema-badge {
    font-size: 12px;
    position: relative;
    top: 7px;
}

.no-left-padding {
    padding-left: 0px;
}

.bucket-schema-data {
    padding-bottom: 25px;
    margin-left: 10px;
}

.bucket-schema-search {
    padding: 0px 15px 15px 0px;
}

.bucket-schema-filter {
    padding: 0px 0px 15px 15px;
}

.cursor-hand {
    cursor: pointer;
    cursor: hand;
}

.bucket-data-table>tbody>tr>td[class*=" vertical-middle"] {
    vertical-align: middle;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.visible {
    visiblity: visible;
}

.help-panel {
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.options-table {
    font-family: Courier;
    font-size: 14px;
}

.options-content-td {
    padding: 0px 0px 5px 0px;
}

.options-separator-td {
    padding: 0px 5px 5px 5px;
}

.c3-texts-Reclaimable text {
    fill: white !important;
}

.c3-texts-Retained text {
    fill: white !important;
}

.table-detail-row {
    border-bottom-width: 1;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    display: flex;
}

.table-detail-header-label {
    color: #fff;
    padding: 0;
}

.table-detail-content {
    margin-top: 7px;
}

.table-detail-left-border {
    border-left-width: 1;
    border-left-color: lightgray;
    border-left-style: solid;
}

.popup-button {
    border-top-width: 5px;
    background-color: transparent;
    padding: 1px 5px 2px 5px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.radio-label {
    font-weight: 700;
    font-size: smaller;
    color: slategray;
}

.radio-input {
    margin-top: 1px;
}

.progress-key-span {
    font-size: 70%;
}

.schema-summary-label {
    padding-top: 5px;
}

.schema-summary-label-span {
    color: #000;
    font-size: 85%;
    font-weight: normal;
}

.col-md-12-desc {
    margin-top: 20px;
    margin-bottom: 25px;
}

.col-md-12-desc-2 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.help-table {
    font-size: 14px;
}
</style>
