[Unit]
Description=Gluent Data Platform - Listener Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=oracle
Group=oinstall
Environment=OFFLOAD_HOME=/u01/app/gluent/offload
ExecStart=/bin/bash -c "${OFFLOAD_HOME}/tools/listener/gluent-listener.sh"

[Install]
WantedBy=multi-user.target
