name: release
on:
  release:
    types:
      - created

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"

jobs:
  package-goe:
    name: Package GOE artefacts required for installation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch all tags
          fetch-depth: 0
      
      - name: Set up JDK & SBT
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install base libraries
        run: pip install --quiet --upgrade pip build setuptools wheel

      - name: Building GOE package
        run: make package

      - name: Move package to `dist/`
        run: mv target/goe_*.tar.gz dist/goe.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: dist/goe.tar.gz
          if-no-files-found: error
  publish:
    name: Publish release
    needs:
      - package-goe
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifacts
          path: dist/goe.tar.gz

      - name: Add package to current release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/goe.tar.gz
